---
layout: default
---

{% for post in paginator.posts %}
  <article>
    <div class="blog-entry-header">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    </div>
    <div class="blog-entry-content">
      {% if post.image %}
        <a title="{{post.title}}" href="{{ site.baseurl }}{{post.imagelink}}">
          <img class="main-img"  alt="{{post.title}}" src="{{ site.baseurl }}{{post.image}}" />
        </a>
      {% endif %}
      {{ post.excerpt }}
    </div>
    <div class="blog-entry-footer">
      <p>
        <span class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.date | date: '%d %b %Y' }}</span>
        <span class="category"><i class="fa fa-folder" aria-hidden="true"></i> {{ post.category }}</span>
        <span class="tags"><i class="fa fa-tags" aria-hidden="true"></i> {% for tag in post.tags %} {{ tag }} {% endfor %}</span>
      </p>
    </div>
  </article>
  <hr>
{% endfor %}

<nav class="pagination">
  <div>
    {% if paginator.previous_page_path %}
      <a href="{{ paginator.previous_page_path }}">&lsaquo; previous page</a>
    {% else %}
      <span class="inactive-link">&lsaquo; previous page</span>
    {% endif %}
  </div>
  <div>
    {% if paginator.next_page_path %}
      <a href="{{ paginator.next_page_path }}">next page &rsaquo;</a>
    {% else %}
      <span class="inactive-link">next page &rsaquo;</span>
    {% endif %}
  </div>
</nav>
