---
---

@import "{{ site.theme }}";

$primary-color: #87C232;
$secondary-color: #618930;
$background-color: #222629;
$background-lighter-color: #474A4F;
$text-color: #fff;

$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

body {
  background: $background-color;
  color: $text-color;
}

.page-header {
  background: $primary-color;
  background-image: linear-gradient(30deg, $primary-color, $secondary-color);
  border-bottom: 1px solid $secondary-color;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  font-family: "Arial Black", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  padding: 0;

  a {
    text-shadow: -1px -1px $background-lighter-color;
    color: $background-color;

    &:hover, &:focus, &:active {
      color: $background-lighter-color;
      text-decoration: none;
    }
  }

  .project-name {
    margin: 0 auto;

    @include large {
      max-width: 64rem;
      padding: 1rem 6rem;
    }

    @include medium {
      padding: .5rem 4rem;
    }

    @include small {
      padding: .2rem 1rem;
    }
  }
}

main.main-content {
  a {
    color: $primary-color;
  }

  h1 {
    color: $primary-color;
  }

  h2, h3, h4, h5, h6 {
    color: $primary-color;
    a {
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  table {
    margin: 0 auto;
    display: table;
    width: auto;

    thead {
      background: $text-color;
      color: $background-color;
      text-align: left;
    }

    tbody {
      background: $background-lighter-color;
    }
  }

  #youtube-player {
    display: block;
    margin: 0 auto;
  }

  article {
    .blog-entry-content {
      p {
        text-align: justify;

        img {
          margin: 0 auto;
          display: block;
        }
      }

      img {
        border: 1px solid #000;
      }

      img[src$=".png"] {
        border: none;
      }

      img.main-img {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }

    .blog-entry-footer {
      clear: both;

      p {
        text-align: left;
      }

      span {
        margin-right: .5rem;

        i {
          color: $primary-color;
        }
      }
    }
  }

  #comments {
    &, li {
      list-style: none;
      padding: 0;
      margin: 0;
      clear: both;
    }

    & {
      margin-bottom: 1rem;
    }

    li {
      clear: both;
      margin-bottom: 1rem;
    }

    li:last-child {
      margin-bottom: 0;

      div.content {
        border-bottom: none;
      }
    }

    div.avatar {
      width: 10rem;
      text-align: center;
      float: left;
      padding: 0 .5rem;

      img {
        border: 1px solid #000;
        display: block;
        margin: 0 auto;
      }
    }

    div.content {
      margin-left: 10rem;
      width: calc(100% - 10rem);
      border-bottom: 1px solid #fff;
      padding-bottom: 1rem;
    }

    i {
      color: $primary-color;
    }
  }
}

nav.pagination {
  display: flex;
  justify-content: space-between;

  div {
    width: 50%;
    text-align: left;
    flex: 0 0 auto;
  }

  div + div {
    text-align: right;
  }
}

footer.site-footer {
  clear: both;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}
