---
layout: default
---

<article>
    <div class="blog-entry-header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="blog-entry-content">
        {% if page.image %}
        <a title="{{page.title}}" href="{{ site.baseurl }}{{page.imagelink}}">
            <img class="main-img" alt="{{page.title}}" src="{{ site.baseurl }}{{page.image}}"/>
        </a>
        {% endif %}
        {{ content }}
        <div class="blog-entry-footer">
            <p>
                <span class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date: '%d %b %Y' }}</span>
                <span class="category"><i class="fa fa-folder" aria-hidden="true"></i> {{ page.category }}</span>
                {% if page.tags %}
                    <span class="tags"><i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %} {{ tag }} {% endfor %}</span>
                {% endif %}
            </p>
        </div>
    </div>
</article>
{% if page.comments %}
<hr>
<section>
    <h2>Komentáre</h2>
    <ol id="comments">
        {% for comment in site.data.comments[page.comments] %}
        <li>
            <div class="avatar">
                <img src="{{ comment.avatar }}" alt="{{ comment.name }}">
                <span class="name">{{ comment.name }}</span>
            </div>
            <div class="content">
                <p>
                    {{ comment.comment }}
                </p>
                <span class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ comment.date | date: '%d %b %Y o %H:%M' }}</span>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>
{% endif %}
